<div class="header">
  <h1>ระบบศูนย์ดูแลผู้สูงอายุ</h1>
</div>

<body>
  <div class="column" style="background-color:lightyellow;">
    <hr>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Job page
          </mat-panel-title>
          <mat-panel-description>
            choose the type you job work
          </mat-panel-description>
        </mat-expansion-panel-header>
    

        <!-- <button mat-button class = "color1" [routerLink]="[ '/ComponentNs']"><b>Related Information</b></button> -->

        <button mat-button [matMenuTriggerFor]="menu">ระบบจัดเก็บข้อมูลหน่วยงานที่เกี่ยวข้อง</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="[ '/ComponentNs']">หน้าบันทึกข้อมูล</button>
          <button mat-menu-item [routerLink]="[ '/ComponentNsUiShow']">หน้าโชว์ข้อมูล</button>
        </mat-menu>
         
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion>

  </div> 
</body>
