.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

* {box-sizing: border-box}

.column {
  float: left;
  width: 100%;
  padding: 15px;
  height: 100%;
}

/* Add padding to containers */
.container {
  padding: 0;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid red;
  margin-bottom: 25px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signout {
  background-color:lightyellow;
  border: 2px;
  text-align: center;
  color: wheat;
}

.next2 {
  text-align: right;
  color:wheat;
}

.color1{
  background-color: green;
}

.color2{
  background-color: red;
}

.panel1{
  width: 50%;
  height: 310px;
  float: left;
  text-align: left;
  background-color:lightyellow;
}
.panel2{
  width: 50%;
  height: 310px;
  float: left;
  text-align: left;
  background-color:lightyellow;
}

.example-form1 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 50px;
}

.example-full-width1 {
  width: 100%;
}

.example-full-width2 {
  margin-left: 8%;
  width: 50%;
}

.example-full-width3 {
  margin-left: 11%;
  width: 50%;
}

.example-full-width4 {
  margin-left: 14%;
  width: 50%;
}

.example-full-width5 {
  margin-left: 12.5%;
  width: 50%;
}

.example-full-width_panel2_1{
  width: 45%;
}

.example-full-width_panel2_2{
  margin-left: 9.5%;
  width: 45%;
}

.checkbox_width2{
  margin-left: 10%;
}

select.S_color1{
  color: red;
}
